@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: #fff7fc;

  /* Spacing */
}

.text-preset-1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 32px;
  color: var(--stone-900);
  /* I eyeballed the font-size. The spec only says the body size */
}

.text-preset-2 {
  font-family: "Outfit", sans-serif;
  color: var(--stone-600);
  font-weight: 400;
}

.text-preset-3 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: var(--stone-900);
}

.text-preset-4 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: var(--rose-800);
}

.text-preset-5 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: var(--brown);
  margin-bottom: 16px;
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
}

body {
  font-size: 16px;
  background-color: var(--stone-150);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px;
}
.recipe-title {
  margin-bottom: 16px;
}
.recipe-description {
  margin-bottom: 16px;
}

.recipe-preparation {
  background-color: var(--rose-50);
  padding: 16px;
}

.preparation-title {
  margin-bottom: 16px;
}

.prepartion-list {
  list-style-position: inside;
}

.recipe-instructions-list {
  list-style-position: inside;
}

li .instruction-wrapper {
  position: relative;
  left: 20px;
  margin-bottom: 16px;
}
.card {
  width: clamp(300px, 60vw, 700px);
  background-color: white;
  padding: 32px;
  flex-grow: 1;
  border-radius: 16px;
}

.omelette-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

.nutrition-description {
  margin-bottom: 16px;
}

.nutrition-label {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cell {
  border-top: 2px solid #e3e3e3;
}

.nutrition-label p {
  padding: 8px 32px;
}
